In [168]:
import pandas as pd
import numpy as np 
import  sklearn as sk

In [169]:
data=pd.read_csv("data.csv",header=None)
x=data.loc[:,0]
y=data.loc[:,1]
data,x,y

(            0           1
 0   32.502345   31.707006
 1   53.426804   68.777596
 2   61.530358   62.562382
 3   47.475640   71.546632
 4   59.813208   87.230925
 5   55.142188   78.211518
 6   52.211797   79.641973
 7   39.299567   59.171489
 8   48.105042   75.331242
 9   52.550014   71.300880
 10  45.419730   55.165677
 11  54.351635   82.478847
 12  44.164049   62.008923
 13  58.168471   75.392870
 14  56.727208   81.436192
 15  48.955889   60.723602
 16  44.687196   82.892504
 17  60.297327   97.379897
 18  45.618644   48.847153
 19  38.816818   56.877213
 20  66.189817   83.878565
 21  65.416052  118.591217
 22  47.481209   57.251819
 23  41.575643   51.391744
 24  51.845187   75.380652
 25  59.370822   74.765564
 26  57.310003   95.455053
 27  63.615561   95.229366
 28  46.737619   79.052406
 29  50.556760   83.432071
 ..        ...         ...
 70  31.588117   50.392670
 71  53.660932   63.642399
 72  46.682229   72.247251
 73  43.107820   57.812513
 74  70.346076  104.257102
 75  44.492856   86.642020
 76  57.504533   91.486778
 77  36.930077   55.231661
 78  55.805733   79.550437
 79  38.954769   44.847124
 80  56.901215   80.207523
 81  56.868901   83.142750
 82  34.333125   55.723489
 83  59.049741   77.634183
 84  57.788224   99.051415
 85  54.282329   79.120646
 86  51.088720   69.588898
 87  50.282836   69.510503
 88  44.211742   73.687564
 89  38.005488   61.366905
 90  32.940480   67.170656
 91  53.691640   85.668203
 92  68.765734  114.853871
 93  46.230966   90.123572
 94  68.319361   97.919821
 95  50.030174   81.536991
 96  49.239765   72.111832
 97  50.039576   85.232007
 98  48.149859   66.224958
 99  25.128485   53.454394

 [100 rows x 2 columns], 0     32.502345
 1     53.426804
 2     61.530358
 3     47.475640
 4     59.813208
 5     55.142188
 6     52.211797
 7     39.299567
 8     48.105042
 9     52.550014
 10    45.419730
 11    54.351635
 12    44.164049
 13    58.168471
 14    56.727208
 15    48.955889
 16    44.687196
 17    60.297327
 18    45.618644
 19    38.816818
 20    66.189817
 21    65.416052
 22    47.481209
 23    41.575643
 24    51.845187
 25    59.370822
 26    57.310003
 27    63.615561
 28    46.737619
 29    50.556760
         ...
 70    31.588117
 71    53.660932
 72    46.682229
 73    43.107820
 74    70.346076
 75    44.492856
 76    57.504533
 77    36.930077
 78    55.805733
 79    38.954769
 80    56.901215
 81    56.868901
 82    34.333125
 83    59.049741
 84    57.788224
 85    54.282329
 86    51.088720
 87    50.282836
 88    44.211742
 89    38.005488
 90    32.940480
 91    53.691640
 92    68.765734
 93    46.230966
 94    68.319361
 95    50.030174
 96    49.239765
 97    50.039576
 98    48.149859
 99    25.128485
 Name: 0, Length: 100, dtype: float64, 0      31.707006
 1      68.777596
 2      62.562382
 3      71.546632
 4      87.230925
 5      78.211518
 6      79.641973
 7      59.171489
 8      75.331242
 9      71.300880
 10     55.165677
 11     82.478847
 12     62.008923
 13     75.392870
 14     81.436192
 15     60.723602
 16     82.892504
 17     97.379897
 18     48.847153
 19     56.877213
 20     83.878565
 21    118.591217
 22     57.251819
 23     51.391744
 24     75.380652
 25     74.765564
 26     95.455053
 27     95.229366
 28     79.052406
 29     83.432071
          ...
 70     50.392670
 71     63.642399
 72     72.247251
 73     57.812513
 74    104.257102
 75     86.642020
 76     91.486778
 77     55.231661
 78     79.550437
 79     44.847124
 80     80.207523
 81     83.142750
 82     55.723489
 83     77.634183
 84     99.051415
 85     79.120646
 86     69.588898
 87     69.510503
 88     73.687564
 89     61.366905
 90     67.170656
 91     85.668203
 92    114.853871
 93     90.123572
 94     97.919821
 95     81.536991
 96     72.111832
 97     85.232007
 98     66.224958
 99     53.454394
 Name: 1, Length: 100, dtype: float64)

In [170]:
x1=np.array(x).reshape(x.shape[0],1)
y1=np.array(y).reshape(y.shape[0],1)

In [171]:
N = x1.shape[0]
new_x = np.ones((N,2))
new_x[:,1:] = x1

In [172]:
# cds slide
#excat:
x_mean=np.mean(x)
y_mean=np.mean(y)
b=(x.dot(y)-np.sum(x*y_mean))/(np.sum(np.square(x))-np.sum(x*x_mean))
a=y_mean-x_mean*b

In [173]:
a,b

(7.991020982268864, 1.32243102275539)

In [174]:
# calculate coefficients using closed-form solution!!!!!!!
coeffs = np.linalg.inv(x1.transpose().dot(x1)).dot(x1.transpose()).dot(y)

In [175]:
coeffs

array([1.47948973])

In [176]:
x.shape

(100,)

In [177]:
m=0
c=0

In [178]:
#grad 
def iter(m,c,rate):
    dm=2*np.mean((y-m*x-c).dot(-x))
    dc=-2*np.mean(x.dot(y-y_mean))
    m=m-rate*dm
    c=c-rate*dc
    err=np.mean(np.square(y-m*x-c))
    return err,m,c

In [179]:
rate1=0.0000001
num_iter1=10000
for i in range(num_iter1):
    err,m,c=iter(m,c,rate1)
    if i%100==0:
        print("iter "+str(i)+" err:"+str(err))

iter 0 err:5035.024053685231
iter 100 err:112.6593654054748
iter 200 err:112.3781111169539
iter 300 err:112.24000210375375
iter 400 err:112.10632350106594
iter 500 err:111.97731467096914
iter 600 err:111.85297709703063
iter 700 err:111.73331078820407
iter 800 err:111.61831574454337
iter 900 err:111.50799196604893
iter 1000 err:111.40233945272077
iter 1100 err:111.30135820455888
iter 1200 err:111.20504822156336
iter 1300 err:111.113409503734
iter 1400 err:111.02644205107086
iter 1500 err:110.94414586357404
iter 1600 err:110.86652094124351
iter 1700 err:110.79356728407919
iter 1800 err:110.72528489208116
iter 1900 err:110.66167376524942
iter 2000 err:110.60273390358388
iter 2100 err:110.54846530708468
iter 2200 err:110.49886797575176
iter 2300 err:110.4539419095851
iter 2400 err:110.41368710858467
iter 2500 err:110.37810357275049
iter 2600 err:110.34719130208254
iter 2700 err:110.32095029658089
iter 2800 err:110.29938055624554
iter 2900 err:110.28248208107652
iter 3000 err:110.27025487107356
iter 3100 err:110.26269892623706
iter 3200 err:110.25981424656668
iter 3300 err:110.26160083206267
iter 3400 err:110.26805868272493
iter 3500 err:110.2791877985534
iter 3600 err:110.29498817954826
iter 3700 err:110.31545982570924
iter 3800 err:110.34060273703648
iter 3900 err:110.3704169135301
iter 4000 err:110.40490235518988
iter 4100 err:110.44405906201597
iter 4200 err:110.48788703400832
iter 4300 err:110.53638627116698
iter 4400 err:110.58955677349188
iter 4500 err:110.64739854098299
iter 4600 err:110.70991157364043
iter 4700 err:110.77709587146403
iter 4800 err:110.84895143445402
iter 4900 err:110.92547826261016
iter 5000 err:111.00667635593274
iter 5100 err:111.09254571442143
iter 5200 err:111.18308633807646
iter 5300 err:111.27829822689773
iter 5400 err:111.37818138088524
iter 5500 err:111.48273580003907
iter 5600 err:111.5919614843592
iter 5700 err:111.70585843384546
iter 5800 err:111.82442664849809
iter 5900 err:111.94766612831692
iter 6000 err:112.07557687330208
iter 6100 err:112.2081588834535
iter 6200 err:112.34541215877113
iter 6300 err:112.48733669925507
iter 6400 err:112.63393250490526
iter 6500 err:112.78519957572168
iter 6600 err:112.94113791170432
iter 6700 err:113.10174751285311
iter 6800 err:113.2670283791683
iter 6900 err:113.43698051064963
iter 7000 err:113.61160390729728
iter 7100 err:113.79089856911125
iter 7200 err:113.97486449609134
iter 7300 err:114.16350168823784
iter 7400 err:114.35681014555041
iter 7500 err:114.55478986802939
iter 7600 err:114.75744085567467
iter 7700 err:114.96476310848605
iter 7800 err:115.1767566264638
iter 7900 err:115.39342140960787
iter 8000 err:115.61475745791796
iter 8100 err:115.84076477139452
iter 8200 err:116.07144335003724
iter 8300 err:116.30679319384633
iter 8400 err:116.54681430282159
iter 8500 err:116.79150667696311
iter 8600 err:117.04087031627087
iter 8700 err:117.29490522074491
iter 8800 err:117.5536113903852
iter 8900 err:117.81698882519177
iter 9000 err:118.08503752516457
iter 9100 err:118.35775749030375
iter 9200 err:118.63514872060915
iter 9300 err:118.91721121608067
iter 9400 err:119.20394497671849
iter 9500 err:119.49535000252267
iter 9600 err:119.791426293493
iter 9700 err:120.09217384962969
iter 9800 err:120.39759267093257
iter 9900 err:120.70768275740171

In [180]:
rate1=0.0001
N=x1.shape[0]
num_iter1=100
w=np.zeros(2)
def GD(w,x,y,rate):
    w -= rate*(np.dot(x,w)-y).dot(x) / N
    loss=np.sum(np.square(np.dot(x,w)-y))/N
    return w,loss

In [181]:
for i in range(num_iter1):
    w,loss=GD(w,new_x,y,rate1)
    if i%100==0:
        print("iter "+str(i)+" err:"+str(loss))
print("\n weight with least loss:")

iter 0 err:3186.2669183340677

 weight with least loss:

In [94]:
d2

,Unnamed: 0,docid,review,rating
0,0,usa_illinois_chicago_the_talbott_hotel,\tWonderful\tI had a sore throat and the hotel...,4.672131
1,1,usa_illinois_chicago_sofitel_chicago_water_tower,Nov 20 2009 \tDidn't want to check out...\tPer...,4.601329
2,2,usa_illinois_chicago_trump_international_hotel...,\tWOW!!\tGreat hotel! Stayed there with my wif...,4.696296
3,3,usa_illinois_chicago_hampton_inn_majestic_chicago,\tStaff Went Above \tWhile waiting for our gue...,4.595455
4,4,usa_illinois_chicago_residence_inn_chicago_dow...,\tWonderful Hotel Will Definately Stay Here Ag...,4.645000
5,5,usa_illinois_chicago_hotel_monaco_chicago_a_ki...,\tPerfection\tOur family of 3 stayed for 4 nig...,4.517476
6,6,usa_illinois_chicago_park_hyatt_chicago,Nov 19 2009 \tGREAT FIVE STAR\tI have become a...,4.643373
7,7,usa_illinois_chicago_springhill_suites_chicago...,\tDefinite Return Trip to this One!\tThis was ...,4.559459
8,8,usa_illinois_chicago_homewood_suites_by_hilton...,\tGreat hotel!\tThe staff was amazing.The brea...,4.560185
9,9,usa_illinois_chicago_affinia_chicago,\tPerfection in service.\tWe recently travelle...,4.624335
10,10,usa_illinois_chicago_dana_hotel_spa,\tGreat Time Beautiful Location\tMy wife and I...,4.455238
11,11,usa_illinois_chicago_the_peninsula_chicago,Oct 8 2009 \tFabulous hotel and service\tWante...,4.481013
12,12,usa_illinois_chicago_the_blackstone_a_renaissa...,\tRoom and service was horrible\tWhen we arriv...,4.466667
13,13,usa_illinois_chicago_james_chicago,\tJust a Fantastic Weekend\tDispite what other...,4.450667
14,14,usa_illinois_chicago_amalfi_hotel_chicago,\tVery disappointed after having read the revi...,4.452406
15,15,usa_illinois_chicago_four_seasons_hotel_chicago,Nov 22 2009 \tLuxury ~ Fabulous View ~ Top Not...,4.565517
16,16,usa_illinois_chicago_hotel_burnham_a_kimpton_h...,\tOverall good although tiny room\tWe usually ...,4.534641
17,17,usa_illinois_chicago_conrad_chicago,\tClassy and Comfortable.\tThe rooms are clean...,4.480412
18,18,usa_illinois_chicago_thewit_hotel,\tTrying too hard and forgets the basics\tTheW...,4.432727
19,19,usa_illinois_chicago_renaissance_chicago_hotel,Nov 11 2009 \tUps and Downs\tI was in Chicago ...,4.439640
20,20,usa_illinois_chicago_the_sutton_place_hotel,"\t""The Finest Chicago Hotel I have stayed at t...",4.463736
21,21,usa_illinois_chicago_the_westin_chicago_river_...,\tPleasant comfortable but unspectacular lodgi...,4.358559
22,22,usa_illinois_chicago_holiday_inn_chicago_midwa...,Jul 29 2009 \tExcellent Midway Hotel\tWe staye...,4.650000
23,23,usa_illinois_chicago_carlton_inn_midway,Oct 12 2009 \tGreat Value and Great Staff\tWe ...,4.556522
24,24,usa_illinois_chicago_omni_chicago_hotel,Nov 24 2009 \tReally great hotel in a super lo...,4.515026
25,25,usa_illinois_chicago_residence_inn_chicago_dow...,Oct 25 2009 \tGreat Hotel off Mag Mile\tPros -...,4.403390
26,26,usa_illinois_chicago_fairfield_inn_suites_chic...,Nov 4 2009 \tConvenient reasonable Chicago Dow...,4.367089
27,27,usa_illinois_chicago_millennium_knickerbocker_...,\tThe Knickerbocker is a great experience.\tFr...,4.098462
28,28,usa_illinois_chicago_the_ritz_carlton_chicago_...,"Nov 12 2009 \tWhat you'd expect from a ""mutant...",4.364103
29,29,usa_illinois_chicago_four_points_by_sheraton_c...,Nov 16 2009 \tgreat hotel and location not so ...,4.364706
...,...,...,...,...
127,127,usa_illinois_chicago_sheraton_chicago_northwest,\tClassic Elegance with Waterpark Fun\tOk so t...,3.116000
128,128,usa_illinois_chicago_red_roof_inn,\ta much needed relaxing stay!\tGood hotel ser...,3.000000
129,129,usa_illinois_chicago_chinatown_hotel,Sep 15 2009 \tHorrible disgusting roach motel\...,3.262500
130,130,usa_illinois_chicago_delaware_towers,May 1 2003\tYou get what you pay\tI got Delawa...,-1.000000
131,131,usa_illinois_chicago_edgebrook_motel,placeholder,-1.000000
132,132,usa_illinois_chicago_palwaukee_inn_conference_...,Oct 22 2008\tEspecially Bad\tWhere do I begin?...,2.680000
133,133,usa_illinois_chicago_lincoln_motel,placeholder,-1.000000
134,134,usa_illinois_chicago_super_8_motel_calumet_par...,placeholder,-1.000000
135,135,usa_illinois_chicago_esquire_motel,placeholder,3.200000
136,136,usa_illinois_chicago_la_quinta_inn_chicago_mat...,placeholder,3.000000
137,137,usa_illinois_chicago_university_club_of_chicago,placeholder,3.600000
138,138,usa_illinois_chicago_extended_stay_america_chi...,placeholder,2.200000
139,139,usa_illinois_chicago_best_western,placeholder,3.000000
140,140,usa_illinois_chicago_chicago_o_hare_garden_hotel,Oct 21 2009 \tNightmare hotel stay!\tThe hotel...,2.540625
141,141,usa_illinois_chicago_new_jackson_hotel,placeholder,1.000000
142,142,usa_illinois_chicago_patio_motel,placeholder,-1.000000
143,143,usa_illinois_chicago_mark_twain_hotel,placeholder,2.400000
144,144,usa_illinois_chicago_chicago_athletic_association,placeholder,1.600000
145,145,usa_illinois_chicago_belair_hotel,Oct 16 2009 \tYou Get What You Pay For\tThe pr...,3.257143
146,146,usa_illinois_chicago_extended_stay_america_chi...,placeholder,1.200000
147,147,usa_illinois_chicago_chicago_lodge,Oct 13 2008 \tthe worst hotel i have ever atte...,1.750000
148,148,usa_illinois_chicago_super_8_chicago_o_hare_south,Nov 27 2008 \tWhat a bad experience !!!\tI wil...,2.112500
149,149,usa_illinois_chicago_stan_properties_suites_at...,placeholder,1.800000
150,150,usa_illinois_chicago_sheffield_house,\tHey it was ONLY 65 bucks a night!\tMe and my...,2.288889
151,151,usa_illinois_chicago_midway_inn,Jul 7 2009 \tWORST HOTEL EVER!!!! Guaranteed t...,1.566667
152,152,usa_illinois_chicago_chateau_hotel,Nov 9 2009 \tDon't Stay Here\tI live across th...,1.000000
153,153,usa_illinois_chicago_milshire_hotel,Oct 14 2009 \tBates Motel\tI've stayed at some...,1.850000
154,154,usa_illinois_chicago_abbott_hotel,Sep 21 2009 \tSlum\tNot only are the rooms jac...,1.700000
155,155,usa_illinois_chicago_skylark_motel,Feb 9 2009\tNasty business going on in this ro...,1.000000
156,156,usa_illinois_chicago_inn_of_chicago_hotel_magn...,placeholder,-1.000000

In [110]:
d2=pd.read_csv("chicago_hotel_reviews.csv")
# from sklearn.feature_extraction.text import CountVectorizer
# vectorizer = CountVectorizer()
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(d2.review).toarray()
X_train, X_test, y_train, y_test = train_test_split(X, d2.rating,test_size=0.2)

In [113]:
from sklearn.pipeline import Pipeline

steps = [('scaler', StandardScaler()), ('SVM', SVC())]
pipeline = Pipeline(steps) # define the pipeline object.

pipeline.fit(x_train, y_train)
predicted = pipeline.predict(x_test)
#Calculate the mean squared error
from sklearn.metrics import accuracy_score, mean_squared_error
print(mean_squared_error(y_test, predicted))

array([0.15477311, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [115]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [118]:
y_pred=reg.predict(np.array(X_test))
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_test, y_pred)
MSE

7.096165721163152e+26

In [125]:
def f_regression(X,Y):
    return sk.feature_selection.f_regression(X,Y,center=False) #center=True (the default) would not work ("ValueError: center=True only allowed for dense data") but should presumably work in general

from sklearn.feature_selection import SelectKBest
featureSelector = SelectKBest(score_func=f_regression,k=10)
featureSelector.fit(X_train,y_train)
aaaa=list(featureSelector.get_support(indices=True))
#print [1+zero_based_index for zero_based_index in list(featureSelector.get_support(indices=True))]

C:\Users\gaoyu\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\feature_selection\univariate_selection.py:298: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
C:\Users\gaoyu\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\gaoyu\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\gaoyu\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [131]:
new_X=X_train[:,aaaa]
new_X_test=X_test[:,aaaa]

In [133]:
reg = LinearRegression().fit(new_X, y_train)
y_pred=reg.predict(np.array(new_X_test))
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_test, y_pred)
MSE

1.4844958394103616