In [31]:
#read file from csv
import os
import pandas as pd
def get_inputs_to_dic():
    input_dic=dict()
    for root, dirs, files in os.walk(".", topdown=False):
        #for name in files:
         #   print(os.path.join(root, name))
        for name in files:
            p=os.path.join(root, name)
            if p.find("input")!=-1:
                position=p.find("input_")
                position1=p.find("\\",2)
                df_name=p[position:position1]
                print(df_name)
                df=pd.read_csv(p)
                input_dic[df_name]=df
    return input_dic

In [32]:
input_dic=get_inputs_to_dic()

input_alabaster
input_bernstein
input_comwealth

In [64]:
# form mapping dictionary
def get_dic():
    all_dic=dict()
    for root, dirs, files in os.walk(".", topdown=False):
        #for name in files:
         #   print(os.path.join(root, name))
        for name in files:
            p=os.path.join(root, name)
            if p.find("mapping")!=-1:
                print(p)
                M=pd.read_csv(p)
                all_dic["BB_ID"]=dict(zip(M.BB_ID,M.Security))## BBID-->Security
                all_dic["GENERIC"]=dict(zip(M.GENERIC,M.Security))## GenericTicker	-->Security
                all_dic["RIC"]=dict(zip(M.RIC,M.Security))
    return all_dic

In [87]:
def format_input(input_dic,all_dic):
    for i in input_dic.keys():
        #print(input_dic[i].dtypes)
        col_ls=input_dic[i].columns
        print(col_ls)
        col_to_drop=[]
        for j in col_ls:
            if (j.find("Beta")!=-1):
                beta_col=j
            elif (j.find("Date")!=-1):
                date_col=j
            elif (j.find('BB_ID')!=-1):
                security_col=j
                security_type="BB_ID"
            elif (j.find('GenericTicker')!=-1):
                security_col=j
                security_type="GENERIC"
            elif (j.find('RIC')!=-1):
                security_col=j
                security_type="RIC"
            elif (j.find('Price')!=-1) and (j.find('EUR')==-1):
                price_col=j
            elif (j.find('Quantity')!=-1) or (j.find('Qty')==0):
                quantity_col=j

            else:
                col_to_drop.append(j)
        # now drop col
        input_dic[i]=input_dic[i].drop(columns=col_to_drop)
        #change security type to general
        input_dic[i]=input_dic[i].replace({security_col: all_dic[security_type]})
        #rename the left
        input_dic[i].rename(columns={security_col:'Security',price_col:"Price_"+i,
                          quantity_col:"Quantity_"+i, beta_col:"Beta_"+i,date_col:"Date_"+i
                         }, inplace=True)
    return input_dic

In [ ]:
x=input()

In [90]:
all_dic=get_dic()
input_dic=get_inputs_to_dic()
format_input=format_input(input_dic,all_dic)
format_input['input_alabaster'].head(2)

.\mapping\MappingTable.csv
input_alabaster
input_bernstein
input_comwealth
Index(['BB_ID', 'Date', 'PriceUSD', 'PriceEUR', 'Qty', 'MktAdjFactor',
       'AllocationID', 'OrderQty', 'FilledQty', 'FinancingSpread', 'Beta'],
      dtype='object')
Index(['Date', 'GenericTicker', 'Price', 'Beta', 'MTMValue', 'Quantity',
       'Currency', 'Financing', 'SubAccount'],
      dtype='object')
Index(['RIC$Code', 'Trade$Date', 'Executed$Price', 'Executed$Quantity',
       'Beta$Hundreds'],
      dtype='object')

,Security,Date_input_alabaster,Price_input_alabaster,Quantity_input_alabaster,Beta_input_alabaster
0,AAN Equity,1/1/2016,30.05,19308,1.30
1,AAP Equity,1/1/2016,164.05,162,0.88

In [98]:
#clean data
def clean_input(format_input):
    for i in input_dic.keys():
        if input_dic[i].isnull().values.any()==True:
            input_dic[i] = input_dic[i][input_dic[i].notnull()]
    return input_dic

clean_input(format_input)['input_alabaster'].head(2)

,Security,Date_input_alabaster,Price_input_alabaster,Quantity_input_alabaster,Beta_input_alabaster
0,AAN Equity,1/1/2016,30.05,19308,1.30
1,AAP Equity,1/1/2016,164.05,162,0.88

In [99]:
clean_input=clean_input(format_input)

In [101]:
len(clean_input)

3

In [ ]:
#operation
total=len(clean_input)
total_ls=clean_input.keys()
for i in range(total):
    
for i in clean_input.keys():
        if input_dic[i].
    op=pd.merge(pd.merge(A,B,on="Security"),C,on="Security").drop(columns=["Date_B","Date_C"]).rename(columns={'Date_A':'Date'})
    result=op[(op["Price_A"]!=op["Price_B"])|
        (op["Price_C"]!=op["Price_B"])|
       (op["Price_A"]!=op["Price_B"])]